<ion-header>
  <ion-navbar>
    <ion-title>
      Daftar {{ nama_file }}
    </ion-title>
	<div class="create_folder" *ngIf="buttonNewFolder">
		<button ion-button><ion-icon name="add" (click)="NewFolder()"></ion-icon></button>
	</div>    
  </ion-navbar>
</ion-header>

<!-- this menu slide -->

<ion-nav #mycontent [root]="rootPage"></ion-nav>
<!-- end menu slide -->

<ion-content padding>
	<!-- isFolder -->
	<ion-list *ngFor="let list of folder">
	  <button ion-item  (click)="NextFolder(list.path, list.nama_file)">
	    <ion-icon name="md-folder" item-start></ion-icon>{{ list.nama_file }}
	  </button> 
	  <div class="pilihan" (click)="pilihan(list.path,list.nama_file)">
	  	<div class="setting">
	  		<ion-icon name="settings"></ion-icon>
	  	</div>
	  </div>	  
	</ion-list>
	<!-- End Folder -->
	<!-- isFile -->
	<ion-list *ngFor="let file of file_entry">
		<button ion-item >
			<ion-icon  name="document" md="md-document" item-start></ion-icon> {{ file.nama_file }}
		</button>
		<div class="pilihan">
			<ion-icon name="settings"></ion-icon>
		</div>
	</ion-list>
	<!-- End File -->
	<!-- <ion-list>		
	  <button ion-item >
	    <ion-icon name="md-folder" item-start></ion-icon>File
	  </button>	
	  <div class="pilihan" (click)="pilihan()">
	  	<ion-icon name="settings" ></ion-icon>
	  </div>	  	
	</ion-list> -->
</ion-content>
