<!--
  Generated template for the EksekusiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Dari {{ path }}  {{ pilihan }} ke {{ to }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="select_storage" *ngIf="selected">
<!--      <ion-card>

       <ion-card-header>
           Pilih Penyimpanan
       </ion-card-header>

       <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <div class="microsd">
                <button ion-button color="light" (click)="Penyimpanan(pilih = 'sdcard')">
                  <ion-img src="./../../assets/imgs/microsd.png"></ion-img>
                </button>
              </div>
            </ion-col>
            <ion-col col-6>
              <div class="microsd">
                <button ion-button color="light" (click)="Penyimpanan(pilih = 'internal')">
                  <ion-img src="./../../assets/imgs/phone.png"></ion-img>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
       </ion-card-content>
     </ion-card> -->
  </div>
  <div *ngIf="listfolder">
  	<ion-list *ngFor="let list of folder">
  		<button ion-item (click)="EksekusiPerintah(list.path,list.nama,list.fullpath)">
  			<ion-icon name="md-folder" item-start></ion-icon> {{ list.nama }}
  		</button>
      <div class="pilihan" *ngIf="button_pilih">
        <button ion-button (click)="Pilih_path(list.nama)">
          pilih
        </button>
      </div>
  	</ion-list>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      {{ pilihan }} ke {{ to }}
    </ion-title>
    <div class="position">
      <button ion-button (click)="PathEksekusi()">
        <ion-icon ios="ios-copy" md="md-copy"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-footer>